---
import ErrorMessage from '../../components/ErrorMessage.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import axios from 'axios';
import { textToSlug } from '../../utils/helper';

type Area = {
    strArea: string;
};  

type Meal = {
    idMeal: string;
    strMeal: string;
    strMealThumb: string;
};

export async function getStaticPaths() {
    const response = await axios.get('https://www.themealdb.com/api/json/v1/1/list.php?a=list');
    const areas = response.data.meals;

    const paths = areas.map((area: Area) => ({
        params: { area: textToSlug(area.strArea) },
    }));

    return paths;
}

const { area } = Astro.params;



// Fetch items for the specific category
let items: Meal[] = [];
let errorMessage: string | null = null;

try {
    const response = await axios.get<{ meals: Meal[] }>(`https://www.themealdb.com/api/json/v1/1/filter.php?a=${area}`);
    items = response.data.meals;

    // Validate the structure of the items
    if (!Array.isArray(items) || items.some(item => !item.idMeal || !item.strMeal || !item.strMealThumb)) {
        throw new Error("Invalid data structure received from the API.");
    }
} catch (error) {
    console.error('Error fetching items:', error);
    errorMessage = 'Failed to load items for this category. Please try again later.';
}
---

<BaseLayout title={`Category: ${area}`}>
    <h2 class="text-2xl font-bold">Category: {area}</h2>

    {errorMessage 
        ? <ErrorMessage message={errorMessage} /> 
        : (
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                {items.map((item) => (
                    <a href={`/meals/${item.idMeal}`} key={item.idMeal} class="col-span-1 relative bg-white rounded-lg shadow-md overflow-hidden">
                        <img src={item.strMealThumb} alt={item.strMeal} width="" />
                        <h3 class="text-center font-bold">{item.strMeal}</h3>
                    </a>
                ))}
            </div>
        )
    }
</BaseLayout>